<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>送り先住所登録完了画面</title>

    <!-- Bootstrap, CSSの読み込み -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- ヘッダーの読み込み -->
<div th:insert="fragments/header :: headerFragment"></div>

<div class="main">
    <h1 class="mt-3">登録が完了しました</h1>

    <div class="sub-container">
        <div class="mt-3"  th:object="${registerForm}">
            <p>郵便番号 :
                <th th:text="'〒' + *{postalCodeF} + '-' + *{postalCodeB}">(postalCode)</th></p>
            <p>送り先住所 :
                <th th:text="*{forwardAddress}">(forwardAddress)</th></p>
            <p>送り先氏名 :
                <th th:text="*{lastName} + ' ' + *{firstName}">(name)</th></p>
            <p>電話番号 :
                <th th:text="*{phone}">(phone)</th>
            </p>
        </div>

        <form action="#" th:action="@{${linkToList}}" method="get">
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">一覧へ戻る</button>
            </div>
        </form>
    </div>
</div>

<div class="content-section" style="margin-bottom: 50px;"></div>
</body>
</html>