<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>

    <!-- Bootstrap CSSの読み込み -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 class="mt-3">ショッピングサイト : Book Store</h1>

<div class="main-container">
    <h2 class="mt-3">ログイン</h2>

    <div class="alert alert-warning" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>

    <form action="#" th:action="@{/login}" method="post">
        <div class="mt-3">
            <label for="emailInput" class="form-label">メールアドレス</label>
            <input type="email" id="emailInput" name="email" class="form-control">
        </div>
        <div class="mt-3">
            <label for="passwordInput" class="form-label">パスワード</label>
            <input type="password" id="passwordInput" name="password" class="form-control">
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">ログイン</button>
        </div>
    </form>
</div>

<form action="#" th:action="@{/user/register}" method="get">
    <div class="mt-3">
        <div class="main-container">
        <button type="submit" class="btn btn-primary">新規登録</button>
        </div>
    </div>
</form>

<div class="content-section" style="margin-bottom: 50px;"></div>
<!-- Bootstrap JSと依存ライブラリの読み込み -->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>