<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録完了</title>

    <!-- Bootstrap CSSの読み込み -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 class="mt-3">アカウントの登録が完了しました</h1>

<div class="sub-container">
    <div th:object="${registerForm}">
        <div class="mt-3" >ユーザ名 :
            <th th:text="*{username}">(username)</th>
        </div>
        <div class="mt-3" >Email :
            <th th:text="*{email}">(email)</th>
        </div>
        <div class="mt-3" >電話番号 :
            <th th:text="*{phone}">(phone)</th>
        </div>
        <div class="mt-3" >Password :
            <th th:text="${maskedPassword}">(maskedPassword)</th>
        </div>
    </div>

    <form action="#" th:action="@{/login}" method="get">
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">ログイン画面へ</button>
        </div>
    </form>
</div>

</body>
</html>