<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録確認</title>

    <!-- Bootstrap CSSの読み込み -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 class="mt-3">以下の内容でアカウントを登録します</h1>

<div class="sub-container">
    <div th:object="${registerForm}">
        <form action="#" th:action="@{/user/register/complete}" method="post">
            <div class="mt-3" >ユーザ名 :
                <th th:text="*{username}">(username)</th>
                <input type="hidden" id="usernameInput" name="username" th:value="*{username}" class="form-control">
            </div>

            <div class="mt-3" >Email :
                <th th:text="*{email}">(email)</th>
                <input type="hidden" id="emailInput" name="email" th:value="*{email}" class="form-control">
            </div>

            <div class="mt-3" >電話番号 :
                <th th:text="*{phone}">(phone)</th>
                <input type="hidden" id="phoneInput" name="phone" th:value="*{phone}" class="form-control">
            </div>

            <div class="mt-3" >Password :
                <th th:text="${maskedPassword}">(maskedPassword)</th>
                <input type="hidden" id="maskedPasswordInput" name="maskedPassword"
                       th:value="${maskedPassword}" class="form-control">
                <input type="hidden" id="passwordInput" name="password" th:value="*{password}" class="form-control">
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </form>

        <form action="#" th:action="@{/user/register}" method="post">
            <div class="mt-3">
                <input type="hidden" name="username" th:value="*{username}" class="form-control">
                <input type="hidden" name="email" th:value="*{email}" class="form-control">
                <input type="hidden" name="phone" th:value="*{phone}" class="form-control">
                <button type="submit" class="btn btn-primary">戻る</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>