.main {
    margin-top: 60px;
}

.header {
    position: fixed;
    top: 0;
    height: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main-container {
    margin: 0 800px 0 50px;
}

.sub-container {
    margin : 0 10px 0 10px ;
}

.space-bottom {
    margin-bottom: 50px;
}
