<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注文完了</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- ヘッダーの読み込み -->
<div th:insert="fragments/header :: headerFragment"></div>

<div class="main">
    <h1 class="mt-3">ご注文ありがとうございました！</h1>

    <div class="main-container">
        <h3 class="mt-3">ご注文商品</h3>
        <div class="mt-3" th:each="cartItem : ${cartItemList}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="${productMap[cartItem.cartItemId].image}" class="product-image" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"
                                th:text=${productMap[cartItem.cartItemId].productName}>
                                (product_name)</h5>
                            <li class="list-group-item"
                                th:text="'単価 ： ¥' + ${#numbers.formatInteger(productMap[cartItem.cartItemId].price, 3, 'COMMA')}">
                                (price)</li>
                            <li class="list-group-item"
                                th:text="'ご注文数 ： ' + ${cartItem.quantity}">
                                (quantity)</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-3" th:text="'ご請求金額 ： ¥' + ${total}">(total)</h3>


        <form action="#" th:action="@{/home}" method="get">
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">お買い物を続ける</button>
            </div>
        </form>
    </div>
</div>

<div class="content-section" style="margin-bottom: 50px;"></div>
</body>
</html>